#menuBar-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 2%;
  padding: 10px
  /* background-color: white; */
}

#menuBar-container > button {
 cursor: pointer;
 height: 30px
}

#menuBar-container > button:after {
  background-color: gray;
}

.text-editor {
  border-radius: 5px;
}

#font-size-x-sml {
  font-size: 20px;
  border: 2px solid green;
}

.font-size-change {
  color: white;

}

.font-changing-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ProseMirror {
  margin-top: 16px;
  min-height: 100px;
}
.ProseMirror:focus {
  outline: none;
}

.icon-button {
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.8s;
}

.icon-button:hover {
  background-color: grey;
}

.is-active {
  height: 30px;
  border-radius: 6px;
  background-color: grey;
  cursor: pointer;
}

.icon-button i {
  font-size: 20px;
}



.ProseMirror   > * + * {
      margin-top: 0.75em;
    }

    .ProseMirror ul,
    .ProseMirror ol {
      padding: 0 1rem;
    }

    .ProseMirror h1,
    .ProseMirror h2,
    .ProseMirror h3,
    .ProseMirror h4,
    .ProseMirror h5,
    .ProseMirror h6 {
      line-height: 1.1;
    }

    .ProseMirror code {
      background-color: #6161611a;
      color: #616161;
    }

    .ProseMirror pre {
      background: #0d0d0d;
      color: #ffffff;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }

     .ProseMirror pre code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }


      .ProseMirror img {
      max-width: 100%;
      height: auto;
    }

    .ProseMirror blockquote {
      padding-left: 1rem;
      border-left: 2px solid #0d0d0d1a;
    }

    .ProseMirror hr {
      border: none;
      border-top: 2px solid #0d0d0d1a;
      margin: 2rem 0;
    }


.between-Menu-and-editor {
    height: 20px
}

#color-input {
  height: 31.5px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid white;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0px;
  cursor: pointer;

}
