/* Uses the majority of the Homepage css */

#notebookpage-about-section-container {
    width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
}

.notebookpage-about-section {
    text-align: left;
    padding: 12px;
    padding-bottom: 30px;
    font-size: 18px;
    border-bottom: 1px solid #3399FF;
}

.delete-notebook-btn {
    width: 300px;
    height: 35px;
    margin-right: 30px;
    border-radius: 5px;
}

@media (max-width: 950px) {
    .set-notebook-word-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%
    }

    #homepage-notebook-card-container {
        justify-content: center;
    }

    #homepage-user-title,
    .page-title-blocks,
    #notebookpage-about-section-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .notebookpage-about-section {
        text-align: center;
        width: 94%;
    }
}
