
/* Styling for Comments Section */
.entry-comments-container {
    flex: 1;
    min-height: 0;
    border: 2px solid rgb(85, 85, 230);
    margin-bottom: 20px;
}

.inner-comments-container {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(85, 85, 230);
    /* min-height: 60px; */
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}



/* Styling for entry navigation */
.entry-content-panel {
    display: flex;
    gap: 10px;
    
    border: 2px solid rgb(85, 85, 230);
    border-radius: 10px;
    background-color: var(--bg-nav);
}

.entry-nav-container {
    flex: 1;
    min-height: 0;
    max-height: 100px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.entry-nav-styling {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}


/*  Styling for Entry Comments */
.comment-panel {
    display: flex;
    gap: 10px;

    /* border: 2px solid rgb(85, 85, 230); */
    border: 1px solid green;
    border-radius: 10px;

    padding: 16px;
    background: radial-gradient(circle at left, rgba(48, 45, 110, 0.35), transparent 85%);
}

.comment-profile-image {
    width: 30px;
    height: 30px;
    /* margin: 8px 20px; */
    border-radius: 50%;
    /* border: 4px solid #3399FF; */
    cursor: pointer;
}