

.entry-nav-container {
    flex: 1;
    min-height: 0;
    max-height: 60px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.entry-nav-styling {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 20px 10px 20px;
    background-color: var(--bg-nav);
    border: 2px solid rgb(85, 85, 230);
    border-radius: 10px;
}
