.dash-comp-container {
    border: 2px solid rgb(85, 85, 230);
    flex: 1;
    border-radius: 10px;
    display: flex;
    /* padding: 28px; */
}

.pannel-formatting {
    /* border: 1px solid var(--nav-selected); */
    flex: 1;
    border-radius: 10px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.pannel-heading {
    /* border: 1px solid var(--nav-selected); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pannel-heading h2 {
    margin: 0;
}

.pannel-contents {
    /* border: 1px solid var(--nav-selected); */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pannel-item {
    /* border: 1px solid var(--nav-selected); */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    flex: 0 0 auto;
    cursor: pointer;
}

.pannel-item:hover {
    background-color: green;
}

.pannel-item-icon {
    /* border: 1px solid var(--nav-selected); */
    height: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* width: 100%; */
}

.pannel-item-data-container {
    /* border: 1px solid green; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 14px 0;
    min-width: 0;
}

.pannel-item-title {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.pannel-item-description {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.quotes-comp {
    max-height: 140px;
    display: flex;
    flex: 1;
}

.quotes-formatting {
    margin: 18px 40px;
    flex: 1;
    display: flex;
}

.quotes-item {
    flex: 1;
}

.quotes-icon {
    align-items: flex-start;
}

.quotes-data-container {
    gap: 10px;
}

.quotes-description {
    font-size: 1rem;
}



/* Activities Styling */
.activities-contain {
    /* border: 1px solid var(--nav-selected); */
    max-height: 510px;
    margin: 10px;

    min-height: 0;
    overflow: hidden;

}

.activity-timeline {
    height: 100%;
    overflow-y: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    /* padding: 40px 0; */
}


.activity-item {
    display: flex;
    gap: 18px;
    position: relative;
}

.activity-marker {
    width: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.activity-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: black;
    border: 3px solid var(--nav-selected);
    box-shadow: 0 0 10px var(--nav-selected);
}

.activity-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.activity-date {
    font-size: 0.85rem;
    opacity: 0.75;
}

.activity-text {
    font-size: 1rem;
}


.activity-timeline::-webkit-scrollbar {
    width: 6px;
}

.activity-timeline::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
}

.view-all {
    display: flex;
    gap: 8px;
    cursor: pointer;
    color: rgb(173, 159, 243);
}

.view-all:hover {
    color: rgb(211, 212, 250);
}