/* Main Entry Page */
#entrypage-entry-title {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin-top: 20px;
}

#entrypage-entry-title h2 {
    width: 90%;
    overflow-wrap: break-word;
    border-bottom: 1px solid #3399FF;
}

#entrypage-entry-title  h1 {
    width: 80%;
    overflow-wrap: break-word;
    border-bottom: 1px solid #3399FF;
}

#entrypage-entrytitle-buttons {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.entrypage-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.editentry-name-button > button {
    background-color: #100647;
    color: white;
    border-radius: 10px;
    border: 1px solid #3399FF;
    cursor: pointer;
    width: 110px;
    height: 30px;
}

.entry-button {
    width: 110px;
    height: 30px
}

.entrypage-underline {
    border-bottom: 1px solid #3399FF;
    width: 100%;
}


/* Edit Entry Page */
.editentry-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editentry-container {
    border: 3px solid #3399FF;
    border-radius: 8px 8px 0px 0px;
    width: 100%
}

#entryedit-toolbar-container {
    border-bottom: 3px solid #3399FF;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(59, 57, 57);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    /* gap: 4%; */
}

.edit-entry-tool-bar {
    width: 95%
}

.entry-content-container {
    padding: 0px 20px;
}

#editentry-save-btn-container {
    margin: 10px 10px 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

#editentry-save-btn-container > p {
    margin: 0px;
}


/* Comment section */
.entrypage-comment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px
}

.entrypage-comment-title > div {
    display: flex;
    gap: 12px
}

.entrypage-comment-title > div > button {
    width: 140px;
    height: 30px
}


.entrypage-delete-comment > button {
    background-color: #100647;
    color: white;
    border-radius: 10px;
    height: 30px;
    border: 1px solid #3399FF;
    cursor: pointer;
    width: 140px;
    height: 30px
}


.entrypage-delete-comment > button:hover {
    background-color: #231764;
    border: 1px solid #4da2f7;
}


.entrypage-comment {
    margin-top: 10px;
    display: flex;
    margin-left: 5%;
    border-bottom: 1px solid grey;
    width: 65%;
    min-height: 50px;
}



#entry-preview-content {
    border-left: 1px solid #4da2f7;
    border-right: 1px solid #4da2f7;
    margin: 0px;
    padding: 0px 20px;
    line-height: 1.5;
}

.post-user-container {
    display: flex;
    align-items: center;

}

.post-user-container > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.set-entry-page-size {
    width: 100%;
}





#entry-preview-content-preview {
    border-left: 1px solid #4da2f7;
    border-right: 1px solid #4da2f7;
    margin: 0px;
    padding: 0px 20px;
    line-height: 1.5;
    overflow-wrap: break-word;
}


@media (max-width: 950px) {
    .set-entry-page-size {
        width: 90%;
    }

    #entrypage-entrytitle-buttons {
        flex-direction: column;
        align-items: start;
    }
}


@media (max-width: 600px) {
    .entrypage-button-container {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .editentry-name-button {
        width: 100%
    }

    #entrypage-entry-title h2{
        width: 100%;
        text-align: center;
    }

    #entrypage-entrytitle-buttons h1{
        width: 100%;
        text-align: center;
    }

    .editentry-name-button button,
    .entrypage-button-container button {
        width: 100%
    }

    .entry-preview-content-container {
        text-align: center;
    }

}
