#main-homepage-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow:auto;
    background-size: cover;
}


#left-hand-nav-container {
    width: 300px;

    height: 100vh;
    position: fixed;
}


#main-homepage-content-container {
    margin-left: 350px;

}
