/* Main Container */
.homepage-main-container {
    width: 100%;
}

/* Titles on the home page */
.mini-page-explination {
    padding-left: 10px;
}

#homepage-user-title {
    padding: 10px 10px 10px 30px;
    width: 70%;
    border-radius: 26px;
    box-shadow: -8px 10px 8px -1px rgba(51, 153, 255, 0.418), 0px 12px 24px -8px rgba(51, 153, 255, 0.479);
}

.page-title-explainer {
    padding: 10px 10px 10px 30px;
    font-size: 1.2em;
    width: 200px;
    border-radius: 26px;
    box-shadow: -8px 10px 8px -1px rgba(51, 153, 255, 0.418), 0px 12px 24px -8px rgba(51, 153, 255, 0.479);
}

/* Styling for notebook cards */
#homepage-notebook-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.homepage-notebook-card {
    height: 260px;
    width: 200px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #3399FF;
    border-radius: 4px;
    cursor: pointer;
    overflow-wrap: break-word;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.homepage-notebook-card:hover {
    box-shadow: 4px 8px 16px rgba(51, 153, 255, 0.3), 4px 12px 24px rgba(51, 153, 255, 0.292);
    transform: translateY(-10px);
}

/* Individual internal card details */
.homepage-notebook-card-details,
.notebook-about-section-container {
    margin: 10px;
}

.homepage-notebook-card-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

/* Card section to edit and delete */
.notebook-edit-delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
}

.homepage-edit-notebook > li {
    list-style: none;
    font-size: 1.2em;
    width: 32px;
    height: 30px;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.homepage-edit-notebook > li:hover {
    color: #4da2f7;
    transform: translateY(-3px);
}

/* Styling for new notebook card */
#homepage-new-notebook-card {
    height: 260px;
    width: 200px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #3399FF;
    border-radius: 4px;
    cursor: pointer;
    overflow-wrap: break-word;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#homepage-new-notebook-card:hover {
    box-shadow: 2px 8px 16px rgba(51, 153, 255, 0.3), 2px 12px 24px rgba(51, 153, 255, 0.292);
    transform: translateY(-10px);
}

#create-notebook-title {
    margin: 12px;
    font-size: 1.2em;
    text-align: center;
}

#create-notebook-title > li {
    list-style: none;
}


/* Adjust for screen size under 950px */
@media (max-width: 950px) {
    .homepage-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%
    }

    #homepage-notebook-card-container {
        justify-content: center;
    }

    #homepage-user-title,
    .page-title-explainer {
        padding: 0px;
        text-align: center;
        border-radius: 5px;
    }
}
