/* replace with landingpage-section1-3-container background image when you have it */
#landingpage-section-1,
#landingpage-section-2,
#landingpage-section-3 {
    background-color: black;
}

#landingpage-section-1 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: end;
    justify-content: center;
}

#landingpage-section-1 > img {
    width: 700px;
    margin-left: 32px;
}

#landingpage-section-2 {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landingpage-section-2 > li{
    list-style: none;
    background-color: #00366B;
    border: 1px solid #3399FF;
    color: white;
    width: 220px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#landingpage-login-form {
    display: flex;
    flex-direction: column;
}

#landingpage-section-3 {
    height: 100px;
}

#landingpage-section-4 {
    background-color: #00366B;
    height: 500px;
    border-top: 1px solid #3399FF;
    border-bottom: 1px solid #3399FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingpage-demo-login-btn {
    width: 220px;
    height: 30px;
    border-radius: 5px;
    margin: 10px
}

#landingpage-footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 50px;
}

#landingpage-footer-subsection {
    display: flex;
    gap: 40px
}

.landingpage-footer-link {
    color:white;
    text-decoration: none;
}
