/* main landing page navigation bar container*/
#landingpage-navigation-container {
    background-color: #100647;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    border-bottom: 1px solid #3399FF;
  }

  /* web title within landing page navigation container bar */
  #landingpage-navigation-container > img {
      max-height: 45px;
  }

  /* sign in and sign out buttons in landing page navigation bar container*/
  #landingpage-navigation-in-out-container > button {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #3399FF;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 120px; /* change under 850px */
    height: 36px;
    cursor: pointer;
    background-color: #100647;
    font-family: "Comic Neue", cursive;
  }

  #landingpage-navigation-in-out-container > button:hover {
    background-color: #231764;
    border: 1px solid #4da2f7;
  }



#main-landingpage-container {
    display: flex;
    flex-direction: column;
}

#landingpage-section-1 {
    width: 100%;
    max-height: 660px;
    height: 60vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 36px
}


/* Main Landing page image */
.landingpage-background-image {
    width: 100%;
    max-width: 900px;
    margin: 10px 100px;
    width: auto;
    min-width: 280px;
}

.landingpage-background-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.landingpage-section-1-midtitle {
    font-size: 26px;
}

#landingpage-section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#landingpage-section-2-container {
    height: 200px;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    object-fit: contain;
    padding: 20px;
}

.landingpage-section-2-midtitle {
    font-size: 24px;
}

#landingpage-section-2-container > button{
    list-style: none;
    background-color: #100647;
    border: 1px solid #3399FF;
    color: white;
    max-width: 380px;
    width: 45%;
    max-height: 40px;
    height: 20%;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Comic Neue", cursive;
}

#landingpage-section-2-container > button:hover {
    background-color: #231764;
    border: 1px solid #4da2f7;
}

#landingpage-section-3 {
    height: 50px;
}

#landingpage-section-4 {
    background-color: #100647;
    border-top: 1px solid #3399FF;
    border-bottom: 1px solid #3399FF;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingpage-section4-title {
    margin: 50px;
    font-size: 32px;
}

#landingpage-section4-minititle {
    width: 85%;
    font-size: 22px;
    text-align: center;
}

#landingpage-minititle-list-container {
    width: 65%;
    margin: 40px;
    font-size: 18px;
}

#landingpage-minititle-list-container > li {
    margin: 16px;
    font-size: 20px;
}

.landingpage-demo-login-btn {
    max-width: 280px;
    max-height: 40px;
    width: auto;
    border-radius: 5px;
    margin: 10px
}

#landingpage-footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 50px;
}

#landingpage-footer-subsection {
    display: flex;
    gap: 40px
}

.landingpage-footer-link {
    color:white;
    text-decoration: none;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingpage-footer-link:hover {
    text-decoration: underline;
}


/* Media Queries for Responsiveness */

@media (max-width: 1000px) {
    #landingpage-section-2-container {
        height: 20vw;
    }
}

@media (max-width: 950px) {


    #landingpage-navigation-container > img {
        width: 12.5vw
    }

    #landingpage-section4-title,
    #landingpage-section4-minititle {
        font-size: 1.2em;
    }

    .landingpage-section-1-midtitle {
        font-size: 2.68vw;
    }

    #landingpage-navigation-in-out-container > button {
        width: 120px
    }

    #landingpage-section-2-container > button{
        font-size: 2.2vw;
    }
}

@media (max-width: 650px) {

    /* Navigation bar */
    #landingpage-navigation-in-out-container {
        display: flex;
    }

    #landingpage-navigation-in-out-container > button {
        width: 70px;
        height: 26px;
        font-size: .8em;
    }

    #landingpage-navigation-container > img {
        width: 80px;
    }


    /* Main Landing Page */
    #landingpage-section-1 {
        max-height: 400px;
        min-height: 300px;
    }

    #landingpage-section-2 > button{
        font-size: .8em;
        width: 140px;
        height: 28px
    }

    #landingpage-section-3 {
        height: 100%;
    }

    #landingpage-section4-title,
    #landingpage-section4-minititle {
        font-size: 1em;
    }

    #landingpage-minititle-list-container li {
        font-size: 0.8em;
    }

    #landingpage-footer {
        font-size: .9em;
        padding: 0px;
    }

    #landingpage-footer-subsection {
        gap: 1px;
        width: 160px;
    }

}


@media (max-width: 500px) {
    .landingpage-section-1-midtitle {
        font-size: .82em;
        text-align: center;
        line-height: 1.5;;
        margin: 0px 10px;
    }

    #landingpage-section-2-container > button{
        width: 207px;
        font-size: 12px;
    }
}
