/* TODO: Add sitewide styles */

body {
    margin: 0px;
}

/* html {
    /* background-color: rgb(138, 207, 138);
} */

.button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00366B;
    border: 1px solid #3399FF;
    cursor: pointer;
}
.button:hover {
    background-color: #024b94;
}

.error-validation {
    color: red;
    font-size: medium;
}

.error-validation-hidden {
    color: rgba(255, 0, 0, 0);
    font-size: medium;
}

/* make a main container with each page with this */
.main-insite-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow:auto;
    background-size: cover;
}

/* include with every page the nav is located.  Keeps the nav in place */
.left-hand-nav-container {
    width: 300px;
    height: 100vh;
    position: fixed;
}

/* Make sure to shift container content to make room for the navigation */
.main-insite-content-container {
    margin-left: 340px;
    width: 100%;
}

.mini-page-title {
    font-size: 14px;
    padding: 8px
}

.page-title-blocks {
    margin: 0;
    font-size: 20px;
    padding: 12px 0px 5px 8px;
    width: 200px;
    border-bottom: 1px solid #3399FF;
}

.top-statement-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
