/* TODO: Add sitewide styles */

body {
    margin: 0px;
}

/* html {
    /* background-color: rgb(138, 207, 138); 
} */

.button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00366B;
    border: 1px solid #3399FF;
    cursor: pointer;
}
.button:hover {
    background-color: #024b94;
}

.error-validation {
    color: red;
    font-size: medium;
}

.error-validation-hidden {
    color: rgba(255, 0, 0, 0);
    font-size: medium;
}

.mini-page-title {
    font-size: 14px;
    padding: 8px
}

.page-title-blocks {
    margin: 0;
    font-size: 20px;
    padding: 12px 0px 5px 8px;
    width: 200px;
    border-bottom: 1px solid #3399FF;
}
