/* TODO: Add sitewide styles */
body.light {
    --bg: white;
    --bg-modal: #e0ebf7;
    --bg-nav: #bbd9f7;
    --nav-hover: rgb(108, 104, 104);
    --nav-selected: #3616ec;
    --text: black;
    --button-hover: #94aee2;
    --container-border: rgb(85, 85, 230);
}

body.dark {
    --bg: black;
    --bg-modal: #100647;
    --bg-nav: #100647;
    --nav-hover: rgb(158, 156, 156);
    --nav-selected: lightblue;
    --text: white;
    --button-hover: #231764;
    --container-border: rgb(85, 85, 230);
}

body {
    margin: 0px;
    font-family: "Comic Neue", cursive;
    background-color: var(--bg);
    color: var(--text);
        /* background-color: #100647; */
}


/* Outermost container for App Layout */
#app-layout {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    background-size: cover;
    min-height: 910px;
}

/* Outermost container for Non Navigation Content Area */
.app-content {
    flex: 1;
    /* leave space for sidebar */
    margin-left: 300px;
    overflow-y: auto;
    padding: 0px 40px;
}


/*------------------------------------------------*/


/* Base Page Wrapper used by most Routed Pages */
.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
    min-height: 0;
    overflow: hidden;

    padding-bottom: 20px;
}

/* No Scroll Behavior to Page */
.page-static {
    height: 100vh;
}
/* Allows Scroll Behavior on Page */
.page-grow {
    min-height: 100vh;
}


/*------------------------------------------------*/


/* Used on all Headers to add Padding, Title, and Sub-title Layout */
.header-flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    /* Removed margin from h1 or p, added padding for top and bottom */
    padding: 24px 0px;
}

/* Used on all Headers with Items on the same Level as Header to the Left */
.header-flex-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

/* Structure Header Title and Sub-titles Within Header Containers */
.header-flex-col h1,
.header-flex-row h1,
.header-flex-col p,
.header-flex-row p {
    margin: 0;
    width: 100%;
}


/*------------------------------------------------*/

/* Dashboard Style Items Containers - Row or Column */
.section-layout {
    min-height: 0;

    flex: 1;
    display: flex;
    gap: 20px;

    border-radius: 10px;
    /* border: 1px solid green; */
}

.section-row {
    flex-direction: row;
    /* align-items: center; */
}
.section-col {
    flex-direction: column;
}


/*------------------------------------------------*/

/* General styling for Static Content Shape */
.content-panel {
    display: flex;
    gap: 10px;

    border: 2px solid rgb(85, 85, 230);
    border-radius: 10px;

    padding: 16px;
    background: radial-gradient(circle at left, rgba(48, 45, 110, 0.35), transparent 85%);
}

.content-panel.selected {
    background-color: var(--bg-nav);
}

/* Inclued to Allow Panel to Flex */
.panel-flex {
    flex: 1;
}
/* Include to Structure in Columns */
.panel-col {
    flex-direction: column;
}
/* Include to Structure in Rows */
.panel-row {
    flex-direction: row;
}


/*------------------------Icon Buttons Styling------------------------*/
.icon-container {
    cursor: pointer;
    color: #d1d5dbbb;
    transition: all 0.3s ease;
}

.icon-container:hover {
    color: white;
    transform: translateY(-3px);
}


/*---------------Tag Styles----------------*/
.is-published {
    color: green;
    font-size: 0.7rem;
    font-weight: 700;
    margin: 0;
    border: 1px solid green;
    border-radius: 40px;
    padding: 2px 10px;
    letter-spacing: 1px;
    max-width: 64px;
    display: flex;
    align-items: center;
}

.read-length {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    border-radius: 4px;
    padding: 4px 10px;
    letter-spacing: 1px;
}

.short-read {
    color: rgb(237, 63, 237);
    border: 1px solid rgb(237, 63, 237);
}

.med-read {
    color: rgb(63, 208, 237);
    border: 1px solid rgb(63, 208, 237);
}

.long-read {
    color: rgb(237, 196, 63);
    border: 1px solid rgb(237, 196, 63);
}


/*---------------SCROLLING----------------*/
.list-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    /* border: 1px solid green; */
}

.scroll-contain {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.list-scroll {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-scroll::-webkit-scrollbar {
    width: 6px;
}

.list-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
}


/*------------------------Random Common------------------------*/
.clickable-item {
    cursor: pointer;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-space-between {
    justify-content: space-between;
}

.remove-margin {
    margin: 0;
}



/* Screens smaller than 950px */
@media (max-width: 950px) {

    /* Is this necessary? */
    .main-insite-container {
        /* display: flex; 
        flex-direction: column;
        margin-top: 60px;
        width: 100%; */
    }

    /* Important padding for smaller screens and header space */
    .page-container {
        padding: 80px 0px 20px 0px;
    }


    .app-content {
        margin: 0px;
        /* display: flex;
        justify-content: center; */
    }

}


