.entry-validation-errors {
    margin: 4px;
    color: red
}

.no-errors {
    margin: 4px;
    color: white
}

#notebook-create-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-input {
    width: 100px;
}
