
.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 400px
}

.signup-invisible-validation {
    height: 18.5px;
}

.signup-button {
    width: 220px;
    height: 34px;
    font-size: 18px;
}
