
/* main landing page navigation bar container*/
#landingpage-navigation-container {
  background-color: #00366B;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  border-bottom: 1px solid #3399FF;
}

/* web title within landing page navigation container bar */
#landingpage-navigation-container > img {
    height: 45px
}

/* sign in and sign out buttons in landing page navigation bar container*/
#landingpage-navigation-in-out-container > li {
  list-style: none;
  display: inline-flex;
  justify-content: center;;
  margin: 10px;
  border: 1px solid #3399FF;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  padding: 10px;
  width: 90px;
  cursor: pointer;
}
